.search-wrapper{
   
    margin: 0 auto;
    /* padding-left: 600px; */
}
#pokemon-name-search{
    margin-top: 2rem;
    width: 600px;
    padding: 1.5rem;

    display: flex;
    align-items: center;
    padding-right: 0%;
}